#quick-draft {
  flex: 1;
  background-color: #fdf7cd;
  padding: 15px;
}

#quick-draft input,
#quick-draft input:focus,
#quick-draft textarea,
#quick-draft textarea:focus {
  outline: none;
  border: 1px dotted red;
  background: none;
}

#quick-draft-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
